@import './mixin'

article
	margin-top 50px

.clearfix
	clearfix()
#page-holder
	position: absolute
	left: 0px
	top: 50%
	width: 100%
	height: 100%
#projects
	div
		display: table
		width: 360px
		height: 540px
		border-radius 15px
		background #333
	span
		display: table-cell
		vertical-align: middle
		width: 100%
		margin: 0 auto
		text-align: center

