include ../mixins/header_helper

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")

+meta_tag("description","")
+meta_tag("keywords","")

//if lt IE 9
	script(src= "./assets/html5.js")
title 17play

+stylesheet_link_tag("./assets/application.css")
+javascript_include_tag("./assets/global.js")
+javascript_include_tag("./assets/pw.js")
+javascript_include_tag("./assets/application.js")


link(href="./favicon.ico" rel="shortcut icon")
