!!! 5
html(lang="en")
	head
		include includes/header
	body
		header.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href="/#/")
						| MyPlay
				nav.collapse.navbar-collapse(role="navigation")
					ul.nav.navbar-nav
						li
							a(href="/#/chart") Chart
		article
			#main.clearfix
				#menu-info
					.menu-info-inner
						ul
							li
								a(href="#") xs
				nav
					#logo
					ul#nav
						li
						em#menu-open-btn
				#page-holder
					#creative.page
						span#statement
							| Our creatives question every idea they have…  and everything they make…  Is it entertaining? essential? exceptional?  Or do we need to start again?  Okay let's start again..
					//- #work.page
					//- 	ul#projects
					//- 		li
					//- 			#project-0
					//- 				span
					//- 					| haha
					//- 		li
					//- 			#project-1
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-2
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-3
					//- 				span
					//- 					| xxx
					//- 		li
					//- 			#project-4
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-5
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-6
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-7
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-8
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-9
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-10
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-11
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-12
					//- 				span
					//- 					| xixi
					//- 		li
					//- 			#project-13
					//- 				span
					//- 					| xixi

		footer
