!!! 5
html(lang="en")
	head
		include includes/header
	body
		header.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					a.navbar-brand(href="/#/")
						| MinF
				nav.collapse.navbar-collapse(role="navigation")
					ul.nav.navbar-nav
						li
							a(href="/#/chart")
								| Chart
		article
		footer
